version: '3.9'

services:
  db:
    image: postgres:15-alpine
    container_name: vaktions_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: vaktions_dev
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    container_name: vaktions_backend
    restart: always
    ports:
      - "3001:3001"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: vaktions_dev
    depends_on:
      - db
    volumes:
      - .:/usr/src/app

volumes:
  postgres_data:
